

/* GLOBAL CSS*/

html {
    font-size: 62.5%;
}

body{
    background: #B11313;
}

h1 {
    color: white;
}

h2 {
    font-size: 2.3rem;
}

h3{
    font-size: 4rem;
}

h4, h5{
    font-size: 2.8rem;
}

li{
    font-size: 2.5rem;
    font-family: "montserrat";
}

a{
    color: #fff;
    text-decoration: none;
}

/* HEADER */

.main-header{
    background: #B11313;
    height: 65px;
    color: #fff;
    font-weight: bold;
    font-family: "montserrat";
    align-items: center;
}

nav {
    min-height: 10 vh;
    display: flex;
    margin:auto;
    width: 90%;
}

nav ul {
    display: flex;
    flex: 2 1 40rem;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-right: 90px;
}

.logo{
    flex: 2 1 40rem;
    align-items: center;
    margin-left: 150px;
}


.reduce-logo-1{
    float: left;
}

.reduce-logo-2{
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    float: left;
}

.reduce-logo-3{
    float:left;
    align-items: center;
}

.fig1{
    width: fit-content;
}

.fig2{
    width: fit-content;
    
}

.fig3{
    width: fit-content;
}

/* Background Banner */

.banner{
    background: url('../img/illustrations/img1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; 
    left: 0; 
    right: 0; 
    min-height: 850px;
    min-width: 1024px;
}

.banner-bg{
    height: 420px;
}

/* Text Banner */

.format_txt{
    font-size: 90px;
    color: white;
    font-family: "Far From Homecoming";
}

.content_txt{
    height: 10px;
    margin-left: 0px;
    text-align: center;
}

#banner_content{
    margin-top: 190px;
}

.column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Button Banner */
  .button_format{
      align-items: center;
      text-align: center;
  }
  .btn-h{
    border: none;
    border-radius: 14px;
    color:#B11313;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    background-color: #fff;
    margin-left: 155px;
    margin-top: 210px;
  }

  .btn-a{
    border: 2px solid;
    border-color: white;
    border-radius: 14px;
    color:#ffffff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    margin-left: 20px;
  }

  .slogan{
      align-items: center;
      text-align: center;
      color: white;
      font-size: 22px;
      margin-right: 115px;
      font-family: 'sem';

  }
