/* GLOBAL CSS*/

html {
    font-size: 62.5%;
}

body{
    background: #ad1111;
}

h1 {
    color: white;
}

h2 {
    font-size: 2.3rem;
}

h3{
    font-size: 2rem;
}

h4, h5{
    font-size: 2.8rem;
}

li{
    font-size: 2.5rem;
    font-family: "montserrat";
}

a{
    color: #fff;
    text-decoration: none;
}

section{
    display: block;
}

/* HEADER */

.main-header{
    background: #B11313;
    height: 65px;
    color: #fff;
    font-weight: bold;
    font-family: "montserrat";
    align-items: center;
    
}

nav {
    min-height: 10 vh;
    display: flex;
    margin:auto;
    width: 90%;
}

nav ul {
    display: flex;
    flex: 2 1 40rem;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-right: 90px;
}

.logo{
    flex: 2 1 40rem;
    align-items: center;
    margin-left: 150px;
}


.reduce-logo-1{
    float: left;
}

.reduce-logo-2{
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    float: left;
}

.reduce-logo-3{
    float:left;
    align-items: center;
    
}

.fig1{
    width: fit-content;
    width: 100%;
}

.fig2{
    width: fit-content;
    width: 100%;
    
}

.fig3{
    width: fit-content;
    width: 100%;
}

/* Background Banner */

.banner{
    background: url('../img/illustrations/img1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; 
    left: 0; 
    right: 0; 
    min-height: 890px;
    width: 100%;
    display: block;
}

.banner-bg{
    height: 880px;
}

/* Text Banner */

.format_txt{
    font-size: 104px;
    color: white;
    font-family: "Far From Homecoming";
    align-items: center;
}

.content_txt{
    height: 10px;
    margin-left: 230px;
    text-align: center;
    align-items: center;
}

#banner_content{
    margin-top: 190px;
}

.column {
    float: left;
    width: 50%;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Button Banner */
  .button_format{
      align-items: center;
      text-align: center;
      width: 100%;
  }
  .btn-h{
    border: none;
    border-radius: 17px;
    color:#B11313;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: #fff;
    margin-left: 235px;
    margin-top: 210px;
  }

  .btn-a{
    border: 2px solid;
    border-color: white;
    border-radius: 17px;
    color:#ffffff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
    margin-left: 20px;
  }

  .slogan{
      align-items: center;
      text-align: center;
      color: white;
      font-size: 22px;
      margin-left: 45px;
      font-family: 'sem';
  }

  /* Articles */
  .row_article{
    position: inherit;
    flex:content;
    content: "";
    display: table;
    clear: both;
    text-align: center;
    width: fit-content;
    margin: auto;
  }

  .col_article{
    display: flex;
    float: left;
    text-align: center;
    width: fit-content;
  }

  .desc_article{
      width: 305px;
      font-size: 14px;
      color: white;
      text-align: justify;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .title_article{
      text-align: justify;
      color:#fff;
  }

  .title_1{
      font-size: 30px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
  }
.btn_article{
    border: none;
    border-radius: 17px;
    color:#B11313;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: #fff;
    align-items: center;
}

.w-article{
    width: 100%;
    height: 800px;
}

/* Form1 */
.form1{
    align-items: center;
    text-align: center;
}
.w-form1{
    width: 100%;
    height: 580px;
}

.bg-form1{
    background-color: #114C92;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; 
    left: 0; 
    right: 0; 
    
}

.col_form1{
    display: flex;
    float: left;
    align-items: center;
}

.form_control{
    margin: 10px;
    width: 400px;
    height: 20px;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 18px;
    display: block;
}
.form1_position{
    display: block;
    align-items: center;
    margin-top:80px;
    margin-left: 250px;
}

input::placeholder{
    margin: 20px;
    text-align:justify;
}

.img-form1{
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: -60px;
    width: 100%;
}

.form1_title
{
    font-size: 34px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 60px;
    width: fit-content;
    margin-bottom: 15px;
    text-align: center;
}

.form1_desc{
    font-size: 11px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: center;
}

#btn_submit_form1{
    border: 2px solid #ffffff;
    border-radius: 17px;
    color:#ffffff;
    background-color: transparent;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    align-items: center;
    margin-right: 12px;
    margin-top: 30px;
}

/* Newsletter */
.newsletter{
    width: 100%;
    margin-top: 600px;
    height: fit-content;
}
.img-new{
    width: fit-content;
    align-items: center;
    text-align: right;
    margin-top: -380px;
    margin-left: 340px;
    
}

.new_pos{
    align-items: center;
    margin-left: 50px;
    width: fit-content;
    margin-bottom: -50px;
}

.form_control_new{
    margin: 20px;
    height: 20px;
    width: 350px;
    font-size: 13px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 18px;
    display: block;
}

#new_name::placeholder, #new_email::placeholder{
    color: white;
    align-items: center;
}

.new_title_1{
    text-align: left;
    display: flex;
    font-size: 23px;
}

.new_title_2{
    text-align: left;
    display: flex;
    color: white;
    font-size: 12px;
}

.checkbox_control{
    text-align: left;
    display: flex;
    float: left;
}

.checkbox_txt{
    text-align: left;
    display: flex;
    color: white;
    font-size: 11px;
    margin-bottom: 1px;
}

.form2_position{
    margin-left: 40px;
    margin-top: 80px;
}

.btn_new{
    border: none;
    border-radius: 17px;
    color:#B11313;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: #fff;
    display: flex;
    width: fit-content;
    margin-top: 51px;
    margin-left: 70px;
}

/* Footer */

.footer_content{
    width: 100%;
    height: 320px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
}

.row_menu{
  margin-top: 60px;
  width: 100%;
}

.row_logo{
    margin-top: 100px;
    margin-left: 45%;
    width: fit-content;
    align-items: center;
}

.li_footer{
   font-size: 16px;
   margin-left: 20px;
   margin-right: 20px;
}

#lang{
    padding: 6px;
    background-color: #B11313;
    border: none;
    border-radius: 18px;
    color: white;
    width: 180px;
}

.logo_footer{
    background-color: #B11313;
    border-radius: 100%;
    padding: 4px;
    margin: 5px;
    text-align: center;
    display: inline-flex;
}

.marvel{
    margin-right: 50px;
}

.row_copy{
    text-align: center;
}

.copy{
    color: rgb(163, 163, 159);
    font-size: 10px;
    margin-left: 30px;
    margin-top: 5px;
}



/* Mobile responsive css */

@media screen and (max-width: 800px) {
    /* Header */
    .main-header{
        background: transparent;
        height: fit-content;
        color: #fff;
        font-weight: bold;
        width: fit-content;
        margin-left: 0px;
        margin-right: 0px;
        background-color: transparent;
        display: flex;
        position: absolute;
        top: 0px;
        z-index: 1;
    }
    nav {
        flex: content;
        float: left;
        margin-top: 20px;
        margin-left: 30px;

    }
    li{
        visibility: hidden;
        width: 0px;
    }
    .logo{
        align-items: flex-start;
        display: flex;
        width: fit-content;
        text-align: left;
        margin-left: 0px;
    }
    .reduce-logo-1{
        width: 30px;
        margin-right: -20px;

    }
    .reduce-logo-2{
        width: 15px;
        margin-right: -20px;
    }
    .reduce-logo-3{
        width: 120px;
    }

    /* Banner */
    .banner{
        max-width: 100%;
        background-size:contain;
        background-position: top right;
        position: absolute;
        margin-top: -10px;

    }
    .banner-bg
    {
        width: 100%;
        height: 260px;
    }
    .format_txt{
        font-size: 30px;
        align-items: flex-start;
    }
    .content_txt{
        height: 0px;
        margin-left: 20px;
        position: absolute;
        top: 70px;
        z-index: 1;
    }
    .slogan{
        font-size: 15px;
        margin-left: 0px;
        margin: 20px;
        position: absolute;
        top:120px;
    }
    .btn-h{
        padding: 9px 25px;
        font-size: 10px;
        background-color: #fff;
        margin-left: 10px;
        margin-top: 0px;
        float: left;
    }
    
    .btn-a{
        padding: 9px 23px;
        font-size: 10px;
        margin-left: 0px;
        position: absolute;
        float: right;
        margin-left: 10px;
    }


    /* articles */
    .w-article{
        width: fit-content;
        position: relative;
        right: 0;
        left: 0;
    }
    .row_article{
        position: inherit;
        flex:content;
        content: "";
        display: table;
        clear: both;
        width: 100%;
      }
    
      .col_article{
        display: flex;
        align-items: center;
        width: fit-content;
        position: relative;
        top: 20px;
        z-index: 1;
      }
    
      .desc_article{
          width: 305px;
          font-size: 14px;
          color: white;
          text-align: justify;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
      .title_article{
          text-align: center;
          position: relative;
          right: 20px;
          margin-left: 10px;
          color:#fff;
          width: fit-content;
      }
    
      .title_1{
          font-size: 30px;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-weight: bold;
      }
      .title_2{
          font-size: 16px;
          margin: 10px;
      }
    .btn_article{
        border: none;
        border-radius: 17px;
        color:#B11313;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        font-weight: bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        background-color: #fff;
        align-items: center;
    }

    /* Form1 */
    .form1{
        align-items: center;
        text-align: center;
    }
    .w-form1{
        margin-top: 1000px;
        width: 100%;
        height: 580px;
    }

    .bg-form1{
        background-color: #114C92;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute; 
        left: 0; 
        right: 0; 
        
    }

    .col_form1{
        width: max-content;
    }

    .form_control{
        margin: 10px;
        width: 400px;
        height: 20px;
        font-size: 13px;
        border: 1px solid black;
        border-radius: 18px;
        display: block;
    }
    .form1_position{
        display: block;
        align-items: center;
        margin-top:80px;
        margin-left: 250px;
    }

    input::placeholder{
        margin: 20px;
        text-align:justify;
    }

    .img-form1{
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: fit-content;
    }

    .form1_title
    {
        font-size: 34px;
        color: white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 60px;
        width: fit-content;
        margin-bottom: 15px;
        text-align: center;
    }

    .form1_desc{
        font-size: 11px;
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        margin-right: 20px;
        margin-bottom: 15px;
        text-align: center;
    }

    #btn_submit_form1{
        border: 2px solid #ffffff;
        border-radius: 17px;
        color:#ffffff;
        background-color: transparent;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        font-weight: bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        align-items: center;
        margin-right: 12px;
        margin-top: 30px;
    }
  }
